<!-- Viser navigationen, hvis der er flere elementer end side størrelse -->
<nav *ngIf="totalItems > pageSize">
    <ul class="pagination">
        <!-- Deaktiver "tilbage"-knap, hvis på første side. -->
        <li [class.disabled]="currentPage === 1">
            <a (click)="previous()">
                <span>&laquo;</span>
            </a>
        </li>
        <!-- Aktiv side og kalder changePage() metode ved klik -->
        <li [class.active]="currentPage === page" *ngFor="let page of pages" (click)="changePage(page)">
            <a>{{ page }}</a>
        </li>
        <!-- Deaktiver "næste"-knap, hvis på sidste side -->
        <li [class.disabled]="currentPage === pages.length">
            <a (click)="next()">
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>